body{
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
    font-size: 12px;
    font-weight:bold;
    line-height: 1.5px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    color:#000;
}

/*global*/
a{
    text-decoration: none;
    color: #000;
    margin:0 20px 0 20px;
}
a:hover{
    text-decoration:underline;
}

/*header*/
header {
    background-color: #fff;
    color: #000;
    height: 20px;
    top:0;
    width:100%;
    border-bottom: #fff 3px solid;
}

.header-left{
    float:left;
    width:40%;
    padding-top: 10px;
    display: inline;
}

.header-right{
    float: right;
    width:30%;
    padding-top:10px;
    display:inline;
}

/*Google and Search*/
.container{
    text-align:center;
    width:100%;
    height:auto;
    padding-top:10px;
    padding-bottom:200px;
    margin-top:100px;
}

img {
    border: 1px solid #fff;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#google input[type="text"]{
    padding:5px;
    height:20px;
    width:400px;
}

.button_1{
    height:35px;
    background:transparent;
    background-color:#e2e2e2;
    border:0;
    padding-right:10px;
    padding-left:10px;
}

.button_2 {
    height: 35px;
    background-color: #e2e2e2;
    border: 0;
    padding-right: 10px;
    padding-left: 10px;
}

button:hover{
    color:black;
    border:1px solid #000;
}

/*footer*/
.footer{
    background:#e2e2e2;
    padding:10px;
    height:20px;
    bottom:0;
    position:fixed;
    width: 100%;
}

.footer-left {
    float: left;
    width:30%;
    padding-top: 10px;
    display: inline
}

.footer-right {
    float: right;
    width:30%;
    padding-top: 10px;
    display: inline;
}

/*For Mobile*/
@media(max-width:568px) {
    .header{
        text-align:center;
    }

    .header-left {
        width: 100%;
        padding-top: 10px;
        display: inline;
    }

    .header-right {
        width: 100%;
        padding-top: 10px;
        display: inline;
    }

    img {
        margin-top: 10px;
        border: 1px solid #fff;
        max-width: 50%;
        height: auto;
        display:block;
        margin: 0 auto;
    }

    #google input[type="text"] {
        padding: 5px;
        height: auto;
        width: 50%;
    }

    .footer{
        text-align:center;
    }

    .footer-left {
        width: 100%;
        padding-top: 10px;
        display: inline
    }

    .footer-right {
        width: 100%;
        padding-top: 10px;
        display: inline;
    }
}